body{
    
        margin: 0;
        box-sizing:border-box;
        background-color: aqua;
       
        text-align: center;


       
    
}
*{
 
    border: 10px;
 border-width: 10px;
   
    border-color: brown;
    margin: auto;
    align-items: center;
    text-align: center;
}

